@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
  font-family: 'Merriweather', serif;
  display: flex;
}

body{
  background-image: url(../img/fondo\ p.png);
  background-repeat: no-repeat;
  background-size:cover ;
}




