@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*{
  font-family: 'Amatic SC', cursive;
}

body{

  background: linear-gradient(to bottom, rgb(145, 208, 252), rgba(169, 255, 255, 0.362));
  flex-direction: column;
}

.header__img {
  margin-left: 30px;
  width: 200px;
}

a{
text-decoration:none ;
color: black;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 10px 0px 0px -40px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
    display: block;
}

.header__menu li {
  margin: 10px 0px;

}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header_profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header_profile img {
  width: 40px;
  margin-top: 12px;
  margin-left: 25px;

}

header{
  margin: -8px -8px 0px -8px;
  display: flex;
  justify-content: flex-end;
  background-color:  rgb(198, 245, 245);
}

.menu ul{
  font-size: 20px;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu ul li{
  margin-right: 30px;
}

.content2{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 88%;
  height: 900px ;
  margin: 6%;
  background-image: url(../img/ferb.png);
  background-size: cover;
}

.text{
  text-align: center;
  font-size: 40px;
  max-width: 500px;
  margin-left: 6%;
  color: white;
}

button{
  height: 90px;
  width: 355px;
  font-size: 50px ;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 50px;
  background: url(../img/tablab.png);
  border: solid rgb(124, 78, 26);
  cursor: pointer;
  
}

button:hover{
  border: solid rgb(67, 40, 10);
  background: url(../img/tablao.png);

}

button a{
  text-decoration: none;
  color: black;
}

.galery {
  margin: 330px auto 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 300px);
  grid-gap: 40px;
}
.cell {
  display: flex;
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  width: auto;
  overflow: hidden;
}
.cover {
  object-fit: cover;
  filter: blur(5px)  brightness(1.4);
  opacity: 0.7;
  width: 300px;
  height: 450px;
}
.hover {
  position: absolute;
  object-fit: contain;
  width: 250px;
  height: 450px;
  padding: 25px;
}

.footer{
  background-color: black;
  width: 100%;
  margin: 11.2% 0px 0px -8px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.footer img{
  margin-left: 40px;
}

.logn{
  width: 300px;
}

.logos{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right:50px ;
}

.facebook{
  width: 60px;
}